:root{
  --bg-transparent: transparent;
  --bg-default: #ffffff;
  --text-defult: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  scroll-behavior: smooth;
}

body{
  background: var(--bg-transparent);
  background-color: var(--bg-default);
  color: var(--text-default);
}

/* Text Color */
/* Background color */

.text-green-100 {
  color: rgb(0, 255, 0)
}

.text-white-100 {
  color: rgb(255, 255, 255);
}

.bg-blue-100 {
  background-color: rgb(0, 0, 255)
}

.bg-red-100{
  background-color: rgb(255, 0, 0);
}
.bg-transparent{
  background: transparent;
}
h2{
  text-align: center;
}
.text-red-100{
  color: rgb(255, 0, 0);
}

.text-red-10 {
  color: rgb(25.5, 0, 0);
}

.text-red-20 {
  color: rgb(51, 0, 0);
}

.text-red-30 {
  color: rgb(76.5, 0, 0);
}

.text-red-40 {
  color: rgb(102, 0, 0);
}

.text-red-50 {
  color: rgb(127.5, 0, 0);
}

.text-red-60 {
  color: rgb(153, 0, 0);
}

.text-red-70 {
  color: rgb(178.5, 0, 0);
}

.text-red-80 {
  color: rgb(204, 0, 0);
}

.text-red-90 {
  color: rgb(229.5, 0, 0);
}